.container{
    img{
        display: block;
        width: 100%;  
    }
    .sticky{
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        margin-top: -30px;
        padding-bottom:10px ;
        background:white;
        border: 1px solid #eee;
        border-radius: 10px 10px 0px 0px;
    }
    :global{
        //  tab切换
        .am-tabs-default-bar{
            border-radius: 10px 10px 0px 0px;
        }
        .am-tabs-default-bar-top .am-tabs-default-bar-tab::after{
            background-color: #ffffff !important;
        }
    }
}